# Virtual environments (MUST ignore to avoid uploading thousands of library files)
venv/
.venv/
env/
ENV/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/